/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

#blog-title {
  height: 6vh;
  position: relative; }
  #blog-title h2 {
    font-family: Bad Script;
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-top: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 865px) {
      #blog-title h2 {
        font-size: 30px; } }
    @media only screen and (min-width: 1200px) {
      #blog-title h2 {
        font-size: 41px;
        margin-top: 1.5%; } }

.navbar {
  background: #214e44; }

#blog-title {
  background: #213231; }

a {
  text-decoration: none;
  color: white; }

ul {
  padding: 0 5px 0; }

li {
  display: inline;
  text-align: center;
  margin-top: 25px;
  font-family: Playfair Display;
  font-size: 16px;
  font-weight: normal;
  color: white; }
  @media only screen and (min-width: 1200px) {
    li {
      font-size: 19px; } }

.top-row, .second-row, .third-row, .fourth-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .top-row:last-child, .second-row:last-child, .third-row:last-child, .fourth-row:last-child {
    margin-right: 0; }

.top-row {
  position: relative; }

.navbar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 6vh; }
  .navbar:last-child {
    margin-right: 0; }

#blog-title {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  height: 6vh; }
  #blog-title:last-child {
    margin-right: 0; }

li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  li:last-child {
    margin-right: 0; }

.post {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  height: 30vh;
  position: relative; }
  .post:last-child {
    margin-right: 0; }

.sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  height: auto;
  top: 0;
  right: 0;
  position: absolute; }
  .sidebar:last-child {
    margin-right: 0; }

.comment {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  height: 100%;
  position: relative; }
  .comment:last-child {
    margin-right: 0; }

.sidebar {
  border: 2px solid black; }

.post {
  position: relative;
  background-image: url("../img/burntpaper.png");
  background-repeat: no-repeat;
  background-size: contain; }
  .post h4 {
    font-family: Bad Script;
    font-size: 20px;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 80px;
    left: 110px; }
  .post .animated-text {
    font-family: Bad Script;
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 100px;
    height: 230px;
    padding-bottom: 20px; }
    @media only screen and (min-width: 790px) {
      .post .animated-text {
        left: 120px; } }
    @media only screen and (min-width: 865px) {
      .post .animated-text {
        font-size: 35px;
        top: 55px; } }
    @media only screen and (min-width: 965px) {
      .post .animated-text {
        left: 130px;
        top: 60px; } }
@keyframes type-1 {
  from {
    width: 0; } }
@keyframes blink {
  to {
    opacity: .0; } }
    .post .animated-text p {
      white-space: nowrap;
      width: 400px;
      overflow: hidden;
      padding: 10px 0 10px; }
    .post .animated-text .text {
      animation: type-1 4s steps(60, end); }
  @media only screen and (max-width: 875px) {
    .post {
      margin-bottom: -60px; } }

em {
  font-style: italic; }

.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
  margin-left: 3em;
  width: 50%; }
  @media only screen and (max-width: 920px) {
    .comment {
      margin-bottom: 2em; } }

.comment-figure {
  margin-right: 1em; }

.comment-body,
.comment-body :last-child {
  margin-bottom: 0; }

.comment-title {
  margin-bottom: .5em;
  margin-right: 2em; }

#wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(rgba(85, 91, 110, 0.8), rgba(85, 91, 110, 0.8)), url("../img/moby.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  min-width: 768px; }
  #wrapper::after {
    clear: both;
    content: "";
    display: block; }

/*# sourceMappingURL=main.css.map */
