@import "home-base/base";


#wrapper{
  @include outer-container();
  background: linear-gradient(
    rgba(85, 91, 110, 0.8),
    rgba(85, 91, 110, 0.8)
  ),
    url("../img/moby.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  height: 100vh;
  max-width: 100%;
  min-width: 768px;
}
