@import "helpers/mixins";
@import "helpers/variables";

em {
    font-style: italic;
}

.comment {
  // position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
  margin-left: 3em;
  width: 50%;
  @media only screen and (max-width: 920px) {
    margin-bottom: 2em;
  }

  }


.comment-figure {
  margin-right: 1em;
}



.comment-body,
.comment-body :last-child {
  margin-bottom: 0;

}

.comment-title {
  margin-bottom: .5em;
  margin-right: 2em;
}
