.top-row, .second-row, .third-row, .fourth-row {
  @include span-columns(12);
}

.navbar {
  @include span-columns(12);
  height: 6vh;
}

#blog-title {
  @include span-columns(4);
  height: 6vh;
}

li {
  @include span-columns(2);
}
.post {
  @include span-columns(8);
  height: 30vh;
  position: relative;
}

.sidebar {
  @include span-columns(4);
  height: auto;
  top: 0;
  right: 0;
  position: absolute;
}

.comment {
  @include span-columns(6);
  height: 17vh;
  position: relative;

}
