@import "helpers/extends";

.top-row, .second-row, .third-row, .fourth-row {
  @include span-columns(12);
}

.top-row, .second-row {
  @extend %relative
}


.navbar {
  @include span-columns(12);
  height: 6vh;
}

#blog-title {
  @include span-columns(4);
  height: 6vh;
}

li {
  @include span-columns(2);
}
.post {
  @include span-columns(8);
  height: 30vh;
  @extend %relative
}


.sidebar {
  @include span-columns(4);
}

.comment {
  @include span-columns(4);
  height: 100%;
  @extend %relative
}
