@import "helpers/mixins";
@import "helpers/variables";

ul {
  padding: 0 5px 0;
}

li {
  margin-top: 25px;
}

.top-row {
  position: relative;

}

.post {
  position: relative;
  background-image: url("../img/burntpaper.png");
  background-repeat: no-repeat;
  background-size: contain;

}

.sidebar {
  border: 2px solid black;
}

em {
    font-style: italic;
  }
